html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem=10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}
/*GLOBALES*/
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: black;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
/*UTILIDADES*/

.text-center {
  text-align: center;
}

/*HEADER Y NAVEGACION*/
.nombre-sitio {
  margin-top: 5rem;

  text-align: center;
}
.nombre-sitio span {
  color: #037bc0;
}

/* p {
  width: 500px;
  height: 100px;

  display: block;
} */

.navegacion-caja {
  border-top: thin solid #e1e1e1;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.imagen-principal {
  background-image: url(../img/principal.jpg);
  height: 55rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*CATEGORIAS*/
.categorias {
  padding-top: 5rem;
}

.categorias-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.categoria-enlaces a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.categorias-grid a:hover {
  background-color: #037bc0;
  color: #fff;
  /* font-size: 32px; */
  border-radius: 4rem 0 0 0;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/*Bloque Nosotros*/

.sobre-nosotros {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    url(../img/nosotros.jpg);
  background-position: left center;
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
/*el primer valor es par lienar gradient y el segundo para la imagen*/
}
.sobre-nosotros-grid {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem; */
  display: flex;
  justify-content: flex-end;
}
.text-nosotros {
  /* grid-column: 2/3; */
  flex-basis: 50%;
  padding: 0 10rem;
  color: #fff;
}

/*  Listado de productos  */

.contenido-principal {
  padding-top: 5rem;
}
.listado-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* column-gap: 2rem;
  row-gap: 2rem; --otra forma de dar margin o separacion de grids*/
  gap: 2rem; /*forma rapida de dar separacion*/
}

.producto:nth-child(1) {
  /* grid-column-start: 1;---Otra forma de escribir css grid separacionde columnas
  grid-column-end: 7; */
  grid-column: 1/7; /*forma rapida de separar columas*/
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img {
  height: 43rem;
  width: 100%;
  object-fit: cover;
}
.producto:nth-child(2) {
  grid-column: 1/4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}
.producto:nth-child(3) {
  grid-column: 4/7;
}
.producto:nth-child(4) {
  grid-column: 1/3;
}
.producto:nth-child(5) {
  grid-column: 3/5;
}
.producto:nth-child(6) {
  grid-column: 5/7;
}

.producto {
  background-color: #037bc0;
}
.texto-producto {
  text-align: center;
  color: #fff;

  padding: 2rem;
}
.texto-producto h3 {
  margin: 0;
}
.texto-producto p {
  margin: 0 0 0.5rem 0;
}
.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 900;
}
.texto-producto a {
  background-color: #8cbc00;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
}

.texto-producto a:hover {
  background-color: #769c02;
}

/*footer*/

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* text-align: center; */
  border-top: thin solid #e1e1e1;
  margin-top: 5rem;
  padding-top: 5rem;
}

.enlaces-footer a {
  display: block;
}

.grid-footer h3 {
  margin-bottom: 0.5rem;
}

.copirigth {
  text-align: center;
  margin-top: 5rem;
}
